.carrinho-titles {
    margin: 10px auto 30px;
    padding: 10px 20px;
    background: #e2e2e2;
    border-radius: 13px;
}
.carrinho-titles div {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrinho-titles div div{
    padding: 0;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    margin: 0 15px 0 0;
    display: flex;
    justify-content: center;
}
.carrinho-titles .image {
    width: 15%;
}
.carrinho-titles .desc {
    width: 40%;
}.carrinho-titles .price {
    width: 15%;
}
.carrinho-titles .quantity {
    width: 10%;
}
.carrinho-titles .totally {
    width: 15%;
}
.carrinho-titles .delete {
    width: 15%;
}