.carrinho-pub {
    width: 600px;
    height:150px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.carrinho-pub img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}